
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>许愿墙</title>
	<link rel="stylesheet" href="/public/css/index.css" />
	<script src="/public/js/jquery-1.7.2.min.js"></script>
	<script src="/public/js/index.js"></script>
	<script type="text/javascript" src="/public/js/template-web.js"></script>
	<style>	
		#send-btn input{
			display:block;
			width: 100%;
			height: 100%;
			opacity: 0;
		}

	</style>
</head>
<body>
	<div id="top">
		<span id="send"></span>
	</div>
	<div id="main">
		##each lists ##
		<dl class="paper a##$value.color##">
			<dt>
				<span class="username">##$value.username##</span>
				<span class="num">No.##$value.num##</span>
			</dt>
			<dd class="content">##$value.content##</dd>
			<dd class="bottom">
				<span class="time">##$value.datetime##</span>
				<a href="" class="close"></a>
			</dd>
		</dl>
		##/each##
	</div>

	<div id="send-form">
		<p class="title">
			<span>&nbsp;</span>
			<a href="" id="close"></a>
		</p>
		<form action="" name="wish">
			<p>
				<label for="username">昵称：</label>
				<input type="text" name="username" id="username"/>
			</p>
			<p>
				<label for="content">愿望：(您还可以输入&nbsp;<span id="font-num">50</span>&nbsp;个字)</label>
				<textarea name="content" id="content"></textarea>
			</p>
			<div id="phiz">
				<img src="/public/images/phiz/zhuakuang.gif" alt="抓狂" />
				<img src="/public/images/phiz/baobao.gif" alt="抱抱" />
				<img src="/public/images/phiz/haixiu.gif" alt="害羞" />
				<img src="/public/images/phiz/ku.gif" alt="酷" />
				<img src="/public/images/phiz/xixi.gif" alt="嘻嘻" />
				<img src="/public/images/phiz/taikaixin.gif" alt="太开心" /> 
				<img src="/public/images/phiz/touxiao.gif" alt="偷笑" />
				<img src="/public/images/phiz/qian.gif" alt="钱" />
				<img src="/public/images/phiz/huaxin.gif" alt="花心" />
				<img src="/public/images/phiz/jiyan.gif" alt="挤眼" />
			</div>
			<span id="send-btn">
				<input type="submit" value="保存">
			</span>
		</form>
	</div>
</body>
<script type="text/template" id="tpl">
	<dl class="paper a{{color}}">
			<dt>
				<span class="username">{{username}}</span>
				<span class="num">No.{{num}}</span>
			</dt>
			<dd class="content">{{content}}</dd>
			<dd class="bottom">
				<span class="time">{{datetime}}</span>
				<a href="" class="close"></a>
			</dd>
		</dl>
</script>
<script type="text/javascript">
	$('form').on('submit',function(){

		var that=$(this);
		$.ajax({
			url:'/create',
			type:'get', //自己写post方式的提交
			data:$(this).serialize(),

			success:function(info){
				//代表的是提交成功了
				if(info.code==100){
					alert(info.msg);
					//模拟关闭按钮	
					$("#close").trigger("click");
				
					//清空表单
					that[0].reset();
						//第一个参数是 id
					var html=template("tpl",info.result);
					
					var obj=$(html).appendTo("#main");


					drag(obj,$('dt',obj));
					obj.css({
							left : parseInt(Math.random() * (FW - obj.width())),
							top : parseInt(Math.random() * (FH - obj.height()))
						});
					return;

				}
				alert("添加失败！")	;	
			}


		})
		//阻止默认提交
		return false;
	})
</script>
</html>